@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

.loader {
  height: 30px;
  width: auto;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease-in-out;
}

#container {
  position: absolute;
  display: block;
  height: auto;
  min-height: 100% !important;
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: 60px;
  background: #2a1563;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logowrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 742px;
  height: 55px;
}

#footer {
  position: absolute;
  bottom: 0px;
  background: #f2f2ff;
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bank_logo {
  position: absolute;
  left: 0px;
  background-color: white;
  width: 152px;
  height: auto;
}

#visa_logo {
  width: 96px;
  height: auto;
  position: absolute;
  right: 0px;
  background-color: white;
}

.pci {
  position: absolute;
  display: flex;
  left: 0px;
  align-items: center;
}

#pci_logo {
  width: 40px;
  height: auto;
}
#yap_logo {
  width: 35px;
  height: auto;

  position: absolute;
  right: 0px;
}

.copyright {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

.errorBoxcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorBox {
  position: absolute;
  bottom: 33px;
  height: 57px;
  width: 350px;
  background-color: #ffeff2;
  border: 0.3px solid rgb(255, 0, 49, 0.6);
  border-radius: 4px;
  display: flex;
  align-items: center;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.exclaim {
  height: auto;
  width: 21px;
  margin-left: 5px;
}

#otpexclaim {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 11px;
  margin-left: 5px;
  opacity: 0;
}

#pinexclaim {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 11px;
  margin-left: 5px;
  opacity: 0;
}

#pinExpexclaim {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 11px;
  margin-left: 5px;
  opacity: 0;
}

#passexclaim {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 11px;
  margin-left: 5px;
  opacity: 0;
}

#rstotpexclaim {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 7.4px;
  margin-left: 5px;
  opacity: 0;
}

#rstexpexclaim {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 7.4px;
  margin-left: 5px;
  opacity: 0;
}

#createexclaim {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 7.4px;
  margin-left: 5px;
  opacity: 0;
}

#confirmexclaim {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 7.4px;
  margin-left: 5px;
  opacity: 0;
}

.crossbar {
  position: absolute;
  height: auto;
  width: 24px;
  right: 7px;
}

.invalidotp {
  color: #ff0031;
  font-size: 18px;
}

.contentwrapper {
  width: 100%;
  float: left;
}

#otpinfo {
  position: relative;
  margin-top: 4px;
  display: flex;

  justify-content: center;
  color: #273a49;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  text-align: justify;
  font-size: 14px;
  width: 100%;
  float: left;
  height: auto;
}

.otpins {
  width: 742px;
  line-height: 150%;
  margin: 5px 0px 5px 0px;
}

.wrapperUser {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  float: left;
}

#user_details {
  width: 490px;
  height: fit-content;
  max-height: fit-content;
  background: #f4f7ff;
  opacity: 0.8;
  border: 0.5px solid #d0e1f9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 8px 8px;
}

p {
  margin: 5px;
}

#user_details > table {
  width: 430px;
  padding: 0px;
  margin: 0px;
}

td,
hr {
  padding: 2px 0px 2px 0px;
  margin: 0px;
}

.user_field {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  text-align: left;
  width: 127px;
  color: #162531;
  vertical-align: top;
}

.user_fieldValue {
  padding-left: 78px;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  text-align: left;

  color: #646a7c;
}

.wrapperBar {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  float: left;
}

.tabbar {
  position: relative;
  width: fit-content;
  height: 28px;
  background: #f2f2ff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dyncnt {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 25px;
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#resetPwd {
  height: 200px;
}

button {
  background-color: inherit;
  width: 132px;
  height: 28px;
  font-weight: medium;
  line-height: 0;
  font-size: 14px;
  color: #2a1563;
  border-radius: 25px;
  outline: none;
  border: none;
}

button:hover {
  background-color: #634d92;
  cursor: pointer;
  color: white;
}

button.active {
  background-color: #2a1563;
  color: white;
}

#wrapperotp {
  position: relative;
  display: flex;
  justify-content: center;
}

.otpBoxcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  position: relative;
  height: 40px;
}

.expBoxcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  margin-top: 11px;
  position: relative;
  height: 40px;
}

.statpin {
  width: 275px;
  max-width: fit-content;
}

.otpbox {
  width: 40px !important;
  height: 40px !important;
  max-height: 40px;
  max-width: 40px;
  border: 0.5px solid #e1e7f3;
  padding: 9px 0px 9px 16px;
  background: #f1f3f8;
  outline: none;
  border-radius: 2px;
  font-size: 22px;
}

.pinbox {
  width: 40px !important;
  height: 40px !important;
  max-height: 40px;
  max-width: 40px;
  border: 0.5px solid #e1e7f3;
  padding: 9px 0px 9px 16.5px;
  background: #f1f3f8;
  outline: none;
  border-radius: 2px;
  font-size: 22px;
}

.passbox {
  width: 275px !important;
  height: 40px !important;
  max-height: 40px;
  max-width: 275px;
  border: 0.5px solid #e1e7f3;
  padding: 9px 9px 9px 9px;
  background: #f1f3f8;
  outline: none;
  border-radius: 2px;
  font-size: 22px;
  letter-spacing: 10px;
}

.resendwrapper {
  margin-top: 11px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
}

.resendOTP {
  position: relative;
  width: auto;
}

.otp {
  width: 261px;
  max-width: fit-content;
}

a[disabled] {
  color: gray;
}

a.disabled {
  color: gray;
}

.resendtimer {
  float: left;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  color: #2a1563;
  margin: 0px;
}

#resendOTPbtn1 {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 7px;
  margin: 1px 0px 0px 0px;
  float: right;
  color: #2a1563;
}

.altResendotp1 {
  opacity: 0.5;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 7px;
  position: absolute;
  float: right;
  color: #2a1563;
  margin: 1px 0px 0px 0px;
  right: 0px;
  display: none;
}

#resendOTPbtn2 {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 7px;
  margin: 1px 0px 0px 0px;
  float: right;
  color: #2a1563;
}

.altResendotp2 {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 7px;
  opacity: 0.5;
  float: right;
  color: #2a1563;
  position: absolute;
  margin: 1px 0px 0px 0px;
  right: 0px;
}

.otpverifyBtn {
  position: relative;
  display: block;
  width: 180px;
  height: 36px;
  margin: 0px 0;
  background: #5f30e2;
  color: white;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  top: 0px;
  cursor: pointer;
}

.setPwdwrapper {
  margin-top: 18px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
}

.setPwd {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 7px;
  text-align: center;
  color: #2a1563;
  display: flex;
  justify-content: center;
}

.altSetpwd {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 7px;
  text-align: center;
  color: #2a1563;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  opacity: 0.5;
}

.verify {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin-top: 25px;
  width: 100%;
  float: left;
}

.resentOTP {
  position: relative;
  width: auto;
  padding-left: 162px;
  box-sizing: border-box;
}

.resentwrapper {
  margin-top: 8px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
}

.resetlable {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-right: 105px;
  margin-left: 0px;
  color: #273a49;
}

.rstOtpbox {
  width: 32px !important;
  height: 32px !important;
  max-height: 32px;
  max-width: 32px;
  border: 0.5px solid #e1e7f3;
  padding: 5px 3px 5px 12px;
  background: #f1f3f8;
  outline: none;
  border-radius: 2px;
  font-size: 20px;
}

#rstotp {
  width: 215px;
  max-width: fit-content;
}

.rstexpBoxcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  margin-top: 12px;
  color: #273a49;
  height: 32px;
}

.rstwrap {
  position: relative;
  width: 370px;
  height: 32px;
  display: flex;
  align-items: center;
}
.rstExplable {
  position: absolute;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 0px;
  color: #273a49;
}

.rstExpbox {
  position: absolute;
  width: 212px;
  max-width: fit-content;
  margin-top: 0px;
  right: 0px;
}

.resetexpbox {
  width: 212px !important;
  height: 32px !important;
  max-height: 32px;
  max-width: 212px;
  border: 0.5px solid #e1e7f3;
  padding: 10px 2px 9px 8.3px;
  background: #f1f3f8;
  outline: none;
  border-radius: 2px;
  font-size: 16px;
  letter-spacing: 3px;
}

.pinverifyBtn {
  position: relative;
  display: block;
  width: 180px;
  height: 36px;
  margin: 0px 0;
  background: #5f30e2;
  color: white;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.cancel {
  position: relative;
  display: flex;
  justify-content: center;
  top: 25px;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 6px;
  color: #273a49;
}

.otpcancel {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  float: left;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #273a49;
  opacity: 0.7;
}

.pincancel {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  float: left;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #273a49;
}

#inside {
  height: 22px;
}

#rstinside {
  width: 370px;
  height: 28px;
}

.pinlable {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  margin: 0px 20px 0px 0px;
  color: #273a49;
}

.explable {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  margin: 0px 11px 0px 0px;
  color: #273a49;
}

.rstexplable {
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: 0px 11px 0px 0px;
  color: #273a49;
}
.rstexpin {
  height: 28px;

  position: absolute;
  right: 0px;
}
#rstexpboxcontainer {
  height: 28px;
  margin-top: 14px;
}

.expin {
  height: 30px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  right: 0px;
}
#year {
  width: 84px;
  height: 25px;
}

#month {
  width: 84px;
  height: 25px;
}

#rstyear {
  width: 104px;
  height: 28px;
}

#rstmonth {
  width: 104px;
  height: 28px;
}

:root {
  --radius: 3px;
  --baseFg: #d3ddff;
  --baseBg: #ffffff;
  --accentFg: #5f30e2;
  --accentBg: #dfe6fc;
  --bordercl: #e1e7f3;
}

select {
  font: 400 12px/1.3 "Open Sans";
  -webkit-appearance: none;
  appearance: none;
  color: dimgray;
  border: 1px solid var(--bordercl);
  line-height: 1;
  outline: 0;
  padding: 0.55em 2.5em 0.5em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: url("img/arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 0px center;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

select:hover {
  color: var(--accentFg);
  border: 1px solid var(--accentFg);
  -webkit-color: var(--accentFg);
  -webkit-border: 1px solid var(--accentFg);
}

select:active {
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--baseBg);
}

#resetcancel {
  margin-top: 21px;
}

.insidewrapper {
  position: absolute;
  width: 300px;
  height: 40px;
  height: fit-content;
  display: flex;
  align-items: center;
}

.pinlable {
  position: absolute;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-right: 55px;
  color: #273a49;
}

.explable {
  position: absolute;
  font-family: "Proxima Nova", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-right: 31px;
  color: #273a49;
}

.atmpin {
  position: absolute;
  width: 185px;
  max-width: fit-content;
  right: 0px;
}

#atmpin1 {
  top: 75px;
}

.expbox {
  width: 172px !important;
  height: 40px !important;
  max-height: 40px;
  max-width: 181px;
  border: 0.5px solid #e1e7f3;
  padding: 10px 7px 9px 8.3px;
  background: #f1f3f8;
  outline: none;
  border-radius: 2px;
  font-size: 15px;
}

::placeholder {
  bottom: 1.4px;
  color: rgba(0, 0, 0, 0.18);
  position: relative;
  font-size: 15px;
}

.expireinfo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  color: #273a49;
}

.expirewrapper {
  position: absolute;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -15px;
}

form {
  position: relative;
  width: 100%;
  float: left;
}

input[type="password"]:focus {
  background: #ffffff;
}

input[type="password"]:valid {
  background: white;
}
input[type="number"]:valid {
  background: white;
}

input:invalid {
  border: 0.5px solid rgba(255, 0, 0, 0.288);
}
input[type="password"]:disabled {
  border: 0.5px solid #e1e7f3;
  background: #f1f3f8;
}

input:invalid:not(:focus) {
  border: 0.5px solid #e1e7f3;
  background: #ffffff;
}

input:invalid:not(:focus):not(:placeholder-shown) {
  background: rgb(255, 216, 222);
  border: 0.5px solid rgba(255, 0, 0, 0.288);
}

input:invalid:not(:focus):not(:placeholder-shown) + label {
  opacity: 0;
}

input:invalid:focus:not(:placeholder-shown) ~ .req {
  max-height: auto;
  height: auto;
  padding: 5px 5px 5px 5px;
  opacity: 1;
  visibility: visible;
}
.req {
  padding: 0 0 0 0;
  color: rgb(255, 0, 0);
  max-height: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
  font-style: italic;
  font-size: 9px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  background-color: #f1f3f8;
  border: 0.5px solid red;
  border-radius: 3px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 215px;
  margin-top: 2px;
}

body {
  background-color: #f2f2ff;
  font-family: "Proxima Nova", "Open Sans", "PT Sans", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
