@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");





    #container {
      position: absolute;
      display: block;
      height: auto;
      min-height: 100% !important;
      width:100%;
      max-width: 100%;
      background-color: white;
      margin:0;
      padding:0; 
  }
  
    #header{
      width: 100%;
  height: 97px;
  background: #2A1563;
  display: flex;
  align-items: center;
    }
  
    #footer{
      position:absolute;
        bottom: 0px;  
    background: #F2F2FF;
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    
    }
    
    #bank_logo{
                position: absolute;
                left:321px;
                background-color: white;
                width: 172px;
                height: auto;
               
    }
    
    #visa_logo{
                width: 106px;
                height: auto;
                position: absolute;
                right:321px; 
                background-color: white;
    }
    
    .pci{
          position: absolute;
          display: flex;
          left: 321px;
          align-items: center;
    }
    
    #pci_logo{
                width: 51px;
                height: auto;
                
    } 
    #yap_logo{
                width: 45px;
                height: auto;
                
                position: absolute; 
                right: 321px;
    }
    
    
    .copyright{
        font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    left: 23.5%;
    
    
    }
  
  
    .errorBoxcontainer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .errorBox{
      position: absolute;
      top: 33px;
      height: 67px;
      width: 465px;
      background-color: #FFEFF2;
      border: 0.3px solid rgb(255, 0, 49 ,0.6);
      border-radius: 4px;
      display: flex;
      align-items: center;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }
  
  .exclaim{
    height: auto;
    width: 21px;
    margin-bottom: 0.1px;
    margin-left: 5px;
  }  

  #otpexclaim{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 17px;
    margin-left: 5px;
    opacity: 0;
  }

  #pinexclaim{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 16px;
    margin-left: 5px;
    opacity: 0;
  }

  #pinExpexclaim{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 12px;
    margin-left: 5px;
    opacity: 0;
  }

  #passexclaim{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 17px;
    margin-left: 5px;
    opacity: 0;
  }

  #rstotpexclaim{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 9px;
    margin-left: 5px;
    opacity: 0;
  }

  #rstexpexclaim{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 9px;
    margin-left: 5px;
    opacity: 0;
  }

  #createexclaim{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 9px;
    margin-left: 5px;
    opacity: 0;
  }

  #confirmexclaim{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 9px;
    margin-left: 5px;
    opacity: 0;
  }
  
  .crossbar{
    position: absolute;
    height: auto;
    width: 24px;
    right: 7px;
  }
  
  .invalidotp{
    color: #FF0031;
    font-size: 18px;
  }
  
  
    #otpinfo{
      position: relative;
      top: 4px;
      display: flex;
     
      justify-content: center;
  color: #273A49;
  font-family: "Proxima Nova",'PT Sans', sans-serif;
  text-align: justify;
  font-size: 18px;
  width: 100%;
  height: auto;
  }
  
  .otpins{
    width: 799px;
    line-height: 150%;
    margin: 5px 0px 5px 0px;
  }
  
  .wrapperUser{
    position: relative;
    display: flex;
    justify-content: center;
    top: 25px;
  }
  
  
  
  
  
  
  
  
  
  
  
  #user_details{
    width: 510px;
  height: fit-content;
  max-height: fit-content;
  background: #F4F7FF;
  opacity: 0.5;
  border: 0.5px solid #D0E1F9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:8px 8px 8px 8px;
  }
  
  p{
      margin: 5px;
  }
  
  #user_details > table{
    width: 450px;
    padding: 0px;
    margin: 0px;
    
  }
  
  td,hr{
  
  padding: 4px 0px 4px 0px;
  margin:0px;
  
  
  }
  
  
  .user_field{
    font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  text-align: left;
  width: 122px;
  color: #162531;
  vertical-align: top;
  }
  
  .user_fieldValue{
      padding-left: 94px;
      font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    text-align: left;
    
    color: #646a7c;
    }
  
  .wrapperBar{
    position: relative;
    display: flex;
    justify-content: center;
    top: 55px;
  }
  
  
  .tabbar{
    position: relative;
    width: fit-content;
  height: 36px;
  background: #F2F2FF;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  
  .dyncnt{
    position: relative;
      
      top: 16px;
      display: none;
      animation: fadeEffect 1s;
    
  }
  
  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  
    }
  
  #resetPwd{
    height: 200px;
    top: 70px;
  }  
  
  
  button{
  background-color: inherit;
  width: 150px;
  height: 36px;
  font-weight: medium;
  line-height: 0;
  font-size: 16px;
  
  color: #2A1563;
  border-radius: 25px;
  outline: none;
  padding-top: 2px;
  border: none;
  }
  
  button:hover{
  background-color: #988ab8;
  cursor: pointer;
  color: white;
  }
  
  button.active{
  background-color: #2A1563;
  color: white;
  }
  
  
  
  
  #wrapperotp{
    position: relative;
  display: flex;
  justify-content: center;
  }
  
  #reqOTP{
    top: 86px;
  }
  
  #quest_otp{
    position: relative;
    top: 40px;
    font-size: 20px;
    width: 435px;
    line-height: 150%;
    text-align:center;
    color: #737A8D;
  }
  
  .sendotp{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    top: 17px;
  }
  
  .sendotpBtn {
                  display: block;
                  width: 210px;
                  height: 54px;
                  margin: 10px 0;
                  background: #5F30E2;
                  color: white;
                  border: 0;
                  font-size: 20px;
                  font-weight: bold;
                  border-radius: 2px;
                  box-sizing: border-box;
                  outline: none;
                  top: 2px;
                  cursor: pointer;
              }
  
  
  #otpenter   {
                  top: 85px;
              }
  

#staticpasscontainer{
  top: -10px;
}              
  
  .otpBoxcontainer{
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 100%;
  
                  }
  
                  .expBoxcontainer{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    top: 14px;
                }
  
  #resetboxcontainer  {
                        top: 5px;
                      }                
  
  
  
  
     
      .statpin{
        width: 360px;
        max-width: fit-content;
    }
  
  .otpbox {
          
              width: 54px !important;
              height: 54px !important;
              max-height: 54px;
              max-width: 54px;
              border: 0.5px solid #E1E7F3;
              padding: 15px 7px 15px 22px;
              background: #f1f3f8;
              outline: none;
              border-radius: 2px;
              font-size: 22px;
        }
  
        .pinbox {
          
          width: 50px !important;
          height: 50px !important;
          max-height: 50px;
          max-width: 50px;
          border: 0.5px solid #E1E7F3;
          padding: 9px 7px 9px 19px;
          background: #f1f3f8;
          outline: none;
          border-radius: 2px;
          font-size: 22px;
    }      
  
    .passbox {
          
      width: 360px !important;
      height: 54px !important;
      max-height: 54px;
      max-width: 360px;
      border: 0.5px solid #E1E7F3;
      padding: 15px 14px 15px 14px;
      background: #f1f3f8;
      outline: none;
      border-radius: 2px;
      font-size: 22px;
      letter-spacing: 15.1px;
  }
  
  
  
  
  
  
  .resendwrapper{
      top: 11px;
      display: flex;
      justify-content: center;
  }      
  
  .resendOTP  {
                  position: relative;
                  width: 345px;
              }
  
  .otp  {
          width: 380px;
          max-width: fit-content;
        }
  
              a[disabled] {
                color: gray;
            }
  
            a.disabled {
              color: gray;
          }
  
  
  
  
  .resendtimer    {
                      
                      float: left;
                      font-family: Proxima Nova;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 12px;
                      color: #2A1563;
                      margin: 0px;
                  }            
  
  #resendOTPbtn1  {
                  
                  font-family: Proxima Nova;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 7px;
                 
                  float: right;
                  color: #2A1563;
                 
              }

              #resendOTPbtn2  {
                  
                font-family: Proxima Nova;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 7px;
               
                float: right;
                color: #2A1563;
               
            }
  
              .otpverifyBtn {
                position: relative;
                display: block;
                width: 294px;
                height: 54px;
                margin: 0px 0;
                background: #5F30E2;
                color: white;
                border: 0;
                font-size: 18px;
                font-weight: bold;
                border-radius: 2px;
                box-sizing: border-box;
                outline: none;
                top: 0px;
                cursor: pointer;
            }
  
  
  
  #staticpin   {
      top: 98px;
  }
  
  
  .setPwdwrapper{
      top: 11px;
      display: flex;
      justify-content: center;
  }      
  
  .setPwd  {
                  
                  font-family: Proxima Nova;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 7px;
                  text-align: center;
                  color: #2A1563;
                  display: flex;
                  justify-content: center;
              }
  
  #statpinbtn{
    top: 65px;
  }
  
  .verify{
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              background: transparent;            
              top: 52px;
              width: 100%;
          }
  
  
  
  
          #pinverify{
            top: 45px;
        }    
  
  
  
  
  
  #verifyreset{
                  top: 145px;
  }
  
  
  .resentOTP  {
                position: relative;
                width: 430px;
                padding-left: 170px;
                box-sizing: border-box;
              }
  
  .resentwrapper{
                  top: 16px;
                  display: flex;
                  justify-content: center;
                }              
  
  .resetlable   {
                font-family: Proxima Nova;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                margin-right: 105px;
                margin-left: 0px;
                color: #273A49;
              }              
  
  .rstOtpbox {
  
            width: 40px !important;
            height: 40px !important;
            max-height: 40px;
            max-width: 40px;
            border: 0.5px solid #E1E7F3;
            padding: 8px 3px 8px 15px;
            background: #f1f3f8;
            outline: none;
            border-radius: 2px;
            font-size: 22px;
          }            
  
  #rstotp{
        width: 262px;
        max-width: fit-content;
      }       
  
  
      
  
  
  .rstexpBoxcontainer{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    top: 40px;
                  }    
  
  #createpassword{
                    position: relative;
                    top: 68px;
  }                
  
  #confirmpassword{
                    position: relative;
                    top: 96px;
  }
  
  .rstwrap{
    position: relative;
    width: 435px;
    height: 20px;
    display: flex;
    align-items: center;
  }
                  .rstExplable   {
                    position: absolute;
                    font-family: Proxima Nova;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    margin-right: 10px;
                    margin-left: 0px;
                    color: #273A49;
                }
  
  
  
                .rstExpbox     {
                  position: absolute;
                  width: 265px;
                  max-width: fit-content;
                  margin-top: 0px;
                  right: 0px;
              }   
  
  
  
              .resetexpbox     {
                
                width: 265px !important;
                height: 38px !important;
                max-height: 38px;
                max-width: 285px;
                border: 0.5px solid #E1E7F3;
                padding: 10px 2px 9px 8.3px;
                background: #f1f3f8;
                outline: none;
                border-radius: 2px;
                font-size: 18px;
                letter-spacing: 4px;
                
            }   
  
  
  
  
  
  .pinverifyBtn {
      position: relative;
      display: block;
      width: 294px;
      height: 54px;
      margin: 0px 0;
      background: #5F30E2;
      color: white;
      border: 0;
      font-size: 18px;
      font-weight: bold;
      border-radius: 2px;
      box-sizing: border-box;
      outline: none;
      cursor: pointer;
  }
  
  .cancel {
              position: relative;
              display: flex;
              justify-content: center;
              top: 25px;
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: 500;
              font-size: 6px;
              color: #273A49;
          }
  
  .otpcancel {
              position: relative;
              display: flex;
              justify-content: center;
              top: 85px;
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              color: #273A49;
              opacity: 0.7;
          }        
  
  .pincancel {
              position: relative;
              display: flex;
              justify-content: center;
              top: 65px;
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              color: #273A49;
          }
  
  #resetcancel{
                  top: 165px;
              }
  #statpincancel{
                  top: 90px;
  }
  
  .pinlable   {
                  font-family: Proxima Nova;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  margin-right: 80px;
                  color: #273A49;
              }
  
                      
  .explable   {
                  font-family: Proxima Nova;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  margin-right: 48px;
                  color: #273A49;
              }
  
  .atmpin     {
                  width: 216px;
                  max-width: fit-content;
                  
              }   
  
  #atmpin     {
                  top: 83px;
              }
  
  #atmpin1     {
                  top: 75px;
              }            
  
              
  .expbox     {
  
                  width: 214px !important;
                  height: 42px !important;
                  max-height: 42px;
                  max-width: 214px;
                  border: 0.5px solid #E1E7F3;
                  padding: 10px 7px 9px 8.3px;
                  background: #f1f3f8;
                  outline: none;
                  border-radius: 2px;
                  font-size: 15px;
                  
              }            
  
  
              ::placeholder{
                  bottom: 1.4px;
                  color: rgba(0, 0, 0, 0.18);
                  position: relative;
                  font-size: 15px;
                  
              }
  
  .expireinfo{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        color: #273A49;
  }
  
  .expirewrapper{
      position: absolute;
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 130px;
  }
  
  form {
    position: relative;
    top: 0px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  
  }
  
  
  
  
  form > div {
    position: relative;
    background: white;
    /*border-bottom: 1px solid #ccc;*/
  }
  form > div > label {
    opacity: 0.3;
    font-weight: bold;
    position: absolute;
    top: 22px;
    left: 20px;
  }
  
  
  
  form > div > input[type="password"]:focus {
    outline: 0;
    background: white;
  }
  
  form > div > input[type="password"]:focus + label {
    opacity: 0;
  }
  
  form > div > input[type="password"]:valid {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px 20px;
  }
  
  form > div > input[type="password"]:valid + label {
    opacity: 0;
  }
  
  form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
  }
  
  form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
    opacity: 0;
  }
  
  form > div > input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
    max-height: auto;
    padding: 0 30px 20px 50px;
  }
  form > div .requirements {
    padding: 0 30px 0 50px;
    color: #999;
    max-height: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
    color: red;
    font-style: italic;
  }
  
  
  body {
    background-color: #F2F2FF;
    font-family: "Proxima Nova",'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  