@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");


.ripple {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.ripple div {
  position: absolute;
  border: 2px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ripple {
  0% {
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    opacity: 0;
  }
}


    #container {
      position: absolute;
      display: block;
      height: auto;
      min-height: 100% !important;
      width:100%;
      max-width: 100%;
     
      margin:0;
      padding:0;
      /*border: 0.5px solid black;*/
  }
  
    #header{
      width: 100%;
  height: 43px;
  background: #2A1563;
  display: flex;
  align-items: center;
    }
  
    .errorBoxcontainer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .errorBox{
      position: absolute;
      top: 33px;
      height: 22px;
      width: 154px;
      background-color: #FFEFF2;
      border: 0.3px solid rgb(255, 0, 49 ,0.6);
      border-radius: 4px;
      display: flex;
      align-items: center;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }
  
  .exclaim{
    height: auto;
    width: 9px;
    margin-bottom: 0.1px;
    margin-left: 5px;
  }  
  
  .crossbar{
    position: absolute;
    height: auto;
    width: 8px;
    right: 7px;
  }
  
  .invalidotp{
    color: #FF0031;
    font-size: 9px;
  }
  
    #otpinfo{
      position: relative;
      top: 4px;
      display: flex;
     
      justify-content: center;
  color: #273A49;
  font-family: "Proxima Nova",'Open Sans', sans-serif;
  text-align: justify;
  font-size: 7px;
  width: 100%;
  height: auto;
  }
  
  .otpins{
    width: 200px;
    line-height: 150%;
  }
  
  .wrapperUser{
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
  }
  
  .wrapperBar{
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
  }
  
  #wrapperotp{
      position: relative;
    display: flex;
    justify-content: center;
  }
  
  #reqOTP{
      top: 48px;
  }
  
  
  #user_details{
    width: 201px;
  height: fit-content;
  max-height: fit-content;
  background: #F4F7FF;
  opacity: 0.5;
  border: 0.5px solid #D0E1F9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  
  }
  
  p{
      margin: 5px;
  }
  
  #user_details > table{
    width: 183px;
    padding: 0px;
    margin: 0px;
    
  }
  
  td,hr{
  
  padding: 0px;
  margin:0px;
  
  }
  
  
  .user_field{
    font-family: "Proxima Nova",'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 1;
  text-align: left;
  width: 60px;
  color: #273A49;
  vertical-align: top;
  }
  
  .user_fieldValue{
      padding-left: 22px;
      font-family: "Proxima Nova",'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 1;
    text-align: left;
    
    color: #737A8D;
    }
  
 
  
  .tabbar{
    position: relative;
    top: 18px;
    width: fit-content;
  height: 16px;
  background: #F2F2FF;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  
  
  .dyncnt{
      position: relative;
      top: 36px;
      display: none;
      animation: fadeEffect 1s;
  }
  
  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
  button{
  background-color: inherit;
  width: 67px;
  height: 16px;
  font-weight: medium;
  line-height: 0;
  font-size: 8px;
  
  color: #2A1563;
  border-radius: 25px;
  outline: none;
  padding-top: 2px;
  border: none;
  }
  
  button:hover{
  background-color: #634d92;
  cursor: pointer;
  color: white;
  }
  
  button.active{
  background-color: #2A1563;
  color: white;
  }
  
  
  
  
  
  
  #quest_otp{
    position: relative;
    top: 40px;
    font-size: 8px;
    width: 182px;
    text-align:center;
    color: #737A8D;
  }
  
  .sendotp{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  
  }
  
  .sendotpBtn {
                  display: block;
                  width: 89px;
                  height: 22px;
                  margin: 20px 0;
                  background: #5F30E2;
                  color: white;
                  border: 0;
                  font-size: 8px;
                  font-weight: bold;
                  border-radius: 2px;
                  box-sizing: border-box;
                  outline: none;
                  cursor: pointer;
              }
  
  
  #otpenter   {
                  top: 48px;
              }
  
  
  .otpBoxcontainer{
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 100%;
                      margin-top: 6px;
                  }
  
  
  .otp{
          width: 154px;
          max-width: fit-content;
      }
  
      #otpexclaim{
        position: absolute;
        height: 9.5px;
        width: 10px;
        top: 7px;
        margin-left: 5px;
        opacity: 0;
      }

      #pinexclaim{
        position: absolute;
        height: 9.5px;
        width: 10px;
        top: 6px;
        margin-left: 5px;
        opacity: 0;
      }

      #pinExpexclaim{
        position: absolute;
        height: 9.5px;
        width: 10px;
        top: 6px;
        margin-left: 5px;
        opacity: 0;
      }

      #passexclaim{
        position: absolute;
        height: 9.5px;
        width: 10px;
        top: 6px;
        margin-left: 5px;
        opacity: 0;
      }

      #rstotpexclaim{
        position: absolute;
        height: 9.5px;
        width: 10px;
        top: 6px;
        margin-left: 5px;
        opacity: 0;
      }

      #rstexpexclaim{
        position: absolute;
        height: 9.5px;
        width: 10px;
        top: 6px;
        margin-left: 5px;
        opacity: 0;
      }

      #createexclaim{
        position: absolute;
        height: 9.5px;
        width: 10px;
        top: 6px;
        margin-left: 5px;
        opacity: 0;
      }

      #confirmexclaim{
        position: absolute;
        height: 9.5px;
        width: 10px;
        top: 6px;
        margin-left: 5px;
        opacity: 0;
      }
  

      .statpin{
        width: 167px;
        max-width: fit-content;
    }
  
  
  
  
  .otpbox {
          
              width: 22px !important;
              height: 22px !important;
              max-height: 22px;
              max-width: 22px;
              border: 0.5px solid #E1E7F3;
              padding: 9px 7px 9px 8.3px;
              background: #f1f3f8;
              outline: none;
              border-radius: 2px;
  
        }
  
        .pinbox {
          
          width: 22px !important;
          height: 22px !important;
          max-height: 22px;
          max-width: 22px;
          border: 0.5px solid #E1E7F3;
          padding: 9px 7px 9px 8.3px;
          background: #f1f3f8;
          outline: none;
          border-radius: 2px;
  
    }      
  
    .passbox {
          
      width: 167px !important;
      height: 22px !important;
      max-height: 22px;
      max-width: 167px;
      border: 0.5px solid #E1E7F3;
      padding: 9px 8px 9px 8px;
      background: #f1f3f8;
      outline: none;
      border-radius: 2px;
      letter-spacing: 5.7px;
  }
    
  
  .resendwrapper{
      top: 7.3px;
      display: flex;
      justify-content: center;
  }      
  
  .resendOTP  {
                  position: relative;
                  width: 153px;
              }
  
  
  
              a[disabled] {
                color: gray;
            }
  
            a.disabled {
              color: gray;
          }
  
  
  
  
  .resendtimer    {
                      
                      float: left;
                      font-family: "Proxima Nova",'Open Sans', sans-serif;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 6px;
                      color: #2A1563;
                      margin: 0px;
                  }            
  
  #resendOTPbtn1  {
                  
                  font-family: "Proxima Nova",'Open Sans', sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 6px;
                  line-height: 7px;
                 
                  float: right;
                  color: #2A1563;
                 
              }
  
              #resendOTPbtn2  {
                  
                font-family: "Proxima Nova",'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 6px;
                line-height: 7px;
               
                float: right;
                color: #2A1563;
               
            }
  
  
  #staticpin   {
      top: 48px;
  }
  
  
  .setPwdwrapper{
      top: 7.3px;
      display: flex;
      justify-content: center;
  }      
  
  .setPwd  {
                  
                  font-family: "Proxima Nova",'Open Sans', sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 6px;
                  line-height: 7px;
                  text-align: center;
                  color: #2A1563;
                  display: flex;
                  justify-content: center;
              }
  
  
  
  .verify{
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              background: transparent;
              height: 30px;
              top: 20px;
              width: 100%;
          }
  
  
  #verifyreset{
    top: 43px;
  }
  
  
  
  .resentOTP  {
                position: relative;
                width: 135px;
                margin-left: 60px;
              }
  
  .resentwrapper{
                  top: 7.3px;
                  display: flex;
                  justify-content: center;
                }              
  
  .resetlable   {
                font-family: "Proxima Nova",'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 7px;
                margin-right: 30px;
                margin-left: 1px;
                color: #273A49;
              }              
  
  .rstOtpbox {
  
            width: 19px !important;
            height: 19px !important;
            max-height: 19px;
            max-width: 19px;
            border: 0.5px solid #E1E7F3;
            padding: 5px 3px 5px 5.5px;
            background: #f1f3f8;
            outline: none;
            border-radius: 2px;
  
          }            
  
  #rstotp{
        width: 136px;
        max-width: fit-content;
      }       
  
  
  .rstexpBoxcontainer{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    top: 15px;
                  }    
  
  #createpassword {
                      top: 22px;
                  }                
  
  #confirmpassword {
                    top: 29px;
                  }  
  
  .rstwrap{
    position: relative;
    width: 207px;
    height: 20px;
    display: flex;
    align-items: center;
  }
                  .rstExplable   {
                    position: absolute;
                    font-family: "Proxima Nova",'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 7px;
                    margin-right: 10px;
                    color: #273A49;
                }
  
  
  
                .rstExpbox     {
                  position: absolute;
                  width: 135px;
                  max-width: fit-content;
                  margin-top: 0px;
                  right: 6px;
              }   
  
  
  
              .resetexpbox     {
                
                width: 135px !important;
                height: 19px !important;
                max-height: 17px;
                max-width: 135px;
                border: 0.5px solid #E1E7F3;
                padding: 10px 2px 9px 8.3px;
                background: #f1f3f8;
                outline: none;
                border-radius: 2px;
                font-size: 10px;
                letter-spacing: 1px;
                
            }   
  
            #resetPwd{
              height: 200px;
              top: 45px;
            }  
  
  
  
  .otpverifyBtn {
                  position: relative;
                  display: block;
                  width: 120px;
                  height: 22px;
                  margin: 0px 0;
                  background: #5F30E2;
                  color: white;
                  border: 0;
                  font-size: 8px;
                  font-weight: medium;
                  border-radius: 2px;
                  box-sizing: border-box;
                  outline: none;
                  cursor: pointer;
              }
  
  .pinverifyBtn {
      position: relative;
      display: block;
      width: 120px;
      height: 22px;
      margin: 0px 0;
      background: #5F30E2;
      color: white;
      border: 0;
      font-size: 8px;
      font-weight: medium;
      border-radius: 2px;
      box-sizing: border-box;
      outline: none;
      cursor: pointer;
  }
  
  .cancel {
              position: relative;
              display: flex;
              justify-content: center;
              top: 25px;
              font-family: "Proxima Nova",'Open Sans', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 6px;
              color: #273A49;
          }
  
  .otpcancel {
              position: relative;
              display: flex;
              justify-content: center;
              top: 25px;
              font-family: "Proxima Nova",'Open Sans', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 6px;
              color: #273A49;
          }        
  
  .pincancel {
              position: relative;
              display: flex;
              justify-content: center;
              top: 22px;
              font-family: "Proxima Nova",'Open Sans', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 6px;
              color: #273A49;
          }
  
  #resetcancel{
                top: 48px; 
              }        
  
  
  .pinlable   {
                  font-family: "Proxima Nova",'Open Sans', sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 8px;
                  margin-right: 20px;
                  color: #273A49;
              }
  
                      
  .explable   {
                  font-family: "Proxima Nova",'Open Sans', sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 7px;
                  margin-right: 11px;
                  color: #273A49;
              }
  
  .atmpin     {
                  width: 101px;
                  max-width: fit-content;
                  margin-top: 0px;
              }   
              
  .expbox     {
  
                  width: 100px !important;
                  height: 22px !important;
                  max-height: 22px;
                  max-width: 100px;
                  border: 0.5px solid #E1E7F3;
                  padding: 10px 7px 9px 8.3px;
                  background: #f1f3f8;
                  outline: none;
                  border-radius: 2px;
                  font-size: 10px;
                  
              }      
              
              .expBoxcontainer{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                top: 7px;
            }
  
  
              ::placeholder{
                  bottom: 1.4px;
                  color: rgba(0, 0, 0, 0.18);
                  position: relative;
                  font-size: 9px;
                  
              }
  
  
              .expireinfo{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                font-size: 6px;
                color: #273A49;
          }
          
          .expirewrapper{
              position: absolute;
              width: 100%;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              bottom: 50px;
          }
  
  #footer{
    position:absolute;
      bottom: 0px;
      width:100%;
      height:40px;  
     display: flex;
     align-items: center;
      
  
  background: #F2F2FF;
  }
  
  #bank_logo{
    position: absolute;
    left:24px;
    background-color: white;
    width: 76.5px;
    height: auto;
   
  }
  
  #visa_logo{
    width: 47px;
    height: auto;
    position: absolute;
    right:24px; 
    background-color: white;
  }
  
  #pci_logo{
    width: 23px;
    height: auto;
    top: 15.5px;
    position: absolute; 
    left: 24px;
  
  } 
  #yap_logo{
    width: 16px;
    height: auto;
    top: 7.25px;
    position: absolute; 
    right: 24px;
  }
  
  .copyright{
      position: absolute;
      font-family: "Proxima Nova",'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4px;
  padding-left: 45px;
  top: 11px;
  }
  
  form {
    position: relative;
    top: 0px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  form > div {
    position: relative;
    background: white;
  }
  form > div > label {
    opacity: 0.3;
    font-weight: bold;
    position: absolute;
    top: 22px;
    left: 20px;
  }
  
  
  
  form > div > input[type="password"]:focus {
    outline: 0;
    background: white;
  }
  
  form > div > input[type="password"]:focus + label {
    opacity: 0;
  }
  
  form > div > input[type="password"]:valid + label {
    opacity: 0;
  }
  
  form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
  }
  
  form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
    opacity: 0;
  }
  
  form > div > input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
    max-height: auto;
    padding: 0 30px 20px 50px;
    z-index: 1;
  }
  form > div .requirements {
    padding: 0 30px 0 50px;
    color: #999;
    max-height: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
    color: red;
    font-style: italic;
  }
  
  
  body {
    
    font-family: "Proxima Nova",'Open Sans','PT Sans', sans-serif;
    padding: 0;
    margin: 0;
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  
  
  
  